.promo {
  padding-top: 12px;
  padding-bottom: 195px;
  background-image: url(../img/images/bg-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.promo__text {
  max-width: 210px;
  text-align: center;
}
.promo__logo {
  width: 46px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
.promo__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
}
.promo__slogan {
  margin: 0;
  font-weight: 700;
  font-style: italic;
}